body {
    font-family: sans-serif;
}

#createForm {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc;
}

.project-item h3{
    font-size: 10px;
}

.delete-btn, .edit-btn {
    border: 1px solid gray;
    width: 28px;
    height: 28px;
    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
    }
}

