input[type=text], input[type=email], select, textarea {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* space inside field */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    /* space between each field */
    margin-bottom: 20px;
}

input[type=submit] {
    display: flex;
    flex-direction: column;
    padding: 13px;
    border: 2px solid #ccc; 
    border-radius: 100px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    background-color: white;

    &:hover {
        background-color: rgb(206, 203, 203);
    }
}

.required {
    color: red;
}

.error {
    display: flex;
    opacity: 0;
    color: red;
    font-size: 13px;
    transition: opacity 1s ease;
    height: 12px;
    /* space between error msg and field */
    margin-top: -12px;
    margin-bottom: 4px;
}

.error.show {
    opacity: 1;
}

input.flash {
    background-color: #ffcccc;
    border: 2px solid red;
    transition: background-color 0.3s ease;
}

output.info {
    display: flex;
    color: gray;
    font-size: 13px;
    /* space between info and field */
    margin-top: -10px;
    /* space between info and next field */
    margin-bottom: 20px;
}

.counter {
    display: block;
    font-size: 12px;
    margin-top: -15px;
    color: gray;
}