input[type=text], select, textarea {
    display: flex;
    flex-direction: column;
    width: 20%;
    /* space inside field */
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    /* space between each field */
    margin-bottom: 16px;
}

input[type=email], select, textarea {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 12px;
    border: 1px solid #ccc; 
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
}

input[type=submit] {
    display: flex;
    flex-direction: column;
    padding: 13px;
    border: 2px solid #ccc; 
    border-radius: 100px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px;
    background-color: white;

    &:hover {
        background-color: rgb(206, 203, 203);
    }
}

/* input:invalid:focus {
    border: 2px solid red;
} */

form.submitted input:invalid {
    border: 2px solid red;
}

.required {
    color: red;
}

/* output {
    display: none;
}

output.error {
    color: red;
} */

output.name-info, output.email-info, output.comment-info {
    display: flex;
    color: gray;
    font-size: 13px;
    /* space between info and field */
    margin-top: -10px;
    /* space between info and next field */
    margin-bottom: 20px;
}