:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    background-color: var(--primary-color);
}


h1 {
    position: absolute;
    left: 60px;
    top: 60px;
    font-family: var(--primary-font);
    color: white;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 15%;
    justify-content: center;
    padding-bottom: 60px;

}

#load-buttons {
    display: flex;
    gap: 20px;
    justify-content: center;
}

#load-local, #load-remote {
    font-family: var(--secondary-font, sans-serif);
    &:hover {
        background-color: lightblue;
    }
}

/* Basic Style Across All Pages */

nav {
    position: absolute;
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99dvw;
    color: var(--title-color);
    font-family: var(--primary-font, sans-serif);
}