:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
}

body {
    background-color: var(--primary-color);
}


h1 {
    position: absolute;
    left: 60px;
    top: 60px;
    font-family: var(--primary-font);
    color: white;
}

#cards {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    margin-top: 15%;
    justify-content: center;

}

/* 
.sanrio-card {
    background-color: var(--secondary-color);
    width: 300px;
    height: 350px;
    transition: 0.3s;
    border: 20px solid var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    left: 60%;
    top: 20%;
}

.sanrio-card:has(:hover) {
    box-shadow: 0 6px 16px 0 white;
    transform: scale(1.02);
}

.portfolio-card {
    background-color: var(--secondary-color);
    width: 300px;
    height: 350px;
    transition: 0.3s;
    border: 20px solid var(--secondary-color);
    border-radius: 8px;
    position: absolute;
    left: 18%;
    top: 20%;
}

.portfolio-card:has(:hover) {
    box-shadow: 0 6px 16px 0 white;
    transform: scale(1.02);
}

h3 {
    color: var(--title-color);
}

.btn {
    background-color: var(--container-color);
    font-family: var(--secondary-font);
    border-radius: 8px;
    font-size: 12px;
    margin-top: 40px;

    &:hover {
        background-color: lightblue;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }
}

img {
    border-radius: 8px;
}

.sanrio-container {
    padding: 2px 16px;
    font-family: var(--secondary-font);
}

.portfolio-container {
    padding: 2px 16px;
    font-family: var(--secondary-font);
} */



/* Basic Style Across All Pages */

nav {
    position: absolute;
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

footer {
    position: absolute;
    bottom: 0;
    width: 99dvw;
    color: var(--title-color);
    font-family: var(--primary-font, sans-serif);
}