:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --color: color(a98-rgb 0 0 1);
}

body {
    background-color: var(--primary-color);
    height: 100dvh;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

main {
    flex: 1;
}


h1 {
    font-family: var(--primary-font, sans-serif);
    color: white;
    position: absolute;
    top: 5%;
    left: 5%;
}

nav {
    position: absolute;
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.resume {
    border: 1px solid white;
    border-radius: 4px;
    position: absolute;
    top: 100px;
    left: 33%;
}

.button {
    background-color: var(--title-color);
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 15px;
    font-family: var(--primary-font, sans-serif);
    border-radius: 8px;
    position: absolute;
    top: 710px;
    left: 45%;

    &:hover {
        background-color: #769ac4;
        transition: background-color 0.6s ease;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

footer {
    width: 100%;
    color: var(--color);
    font-family: var(--primary-font, sans-serif);
}