html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

:root {
    --primary-color: #003049; 
    --secondary-color: #fdf0d5; 
    --content-color: #8B8C89;
    --title-color: #274C77;
    --container-color: #E7ECEF;
    --primary-font: "Lato", sans-serif;
    --secondary-font: "Montserrat", sans-serif;
    --color: color(a98-rgb 0 0 1);
    --mix-color: color-mix(in oklab, var(--primary-color), white 30%);
}

.top {
    height: 100vh;
    background-color: var(--primary-color);
    z-index: -1;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
}

.bottom {
    left: 0;
    right: 0;
    top: 99vh;
    height: 101vh;
    background-color: var(--secondary-color);
    position: absolute;
    z-index: -2;
}

.me {
    border-radius: 50%;
}

h1 {
    white-space: normal;
    word-wrap: break-word;
    font-size: 35px;
    font-family: var(--primary-font, sans-serif);
    display: flex;
    flex-wrap: wrap;
    /* text-shadow: 0px 2px 5px; */
}

h2 {
    position: absolute;
    color: var(--title-color);
    top: 121%;
    left: 58%;
    font-family: var(--primary-font, sans-serif);
}

.about-me-container {
    color: var(--content-color);
    background-color: var(--container-color);
    height: 50%;
    width: 30%;
    font-family: var(--secondary-font, sans-serif);
    padding: 40px 20px;
    /* area outside of box, position of box on page */
    margin: 11rem 50rem 20rem;
    border-radius: 10px;
    border: 6px solid var(--primary-color);
}

.prince {
    top: 110%;
    right: 70%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.me-2 {
    top: 125%;
    right: 50%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

.prince-2 {
    top: 145%;
    right: 70%;
    object-fit: cover;
    position: absolute;
    border-radius: 8px;
}

footer {
    position: absolute;
    top: 193dvh;
    width: 99dvw;
    height: 2rem;
    font-family: var(--primary-font, sans-serif);
    color: var(--mix-color);
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    font-family: var(--primary-font, sans-serif);
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;

    &:hover {
        background-color: #ddd;
        transition: background-color 0.6s ease;
        color: black;
    }

    &:link {
        text-decoration: none;
    }
}

.visit {
    background-color: #ddd;
    color: black;
}

#mode {
    position: absolute;
    top: 1rem;
    right: 1%;
    font-size: 20px;

    &:hover {
        background-color: rgb(177, 170, 170);
    }
}

.bottom.dark-mode {
    background-color: black;
    color: white;
}

