/* #leftBox {
    background-color: #fdf0d5;
    width:50%;
    height: 50%;
    margin: auto;
} */

/* .split.top {
    height: 50%;
    width: ;
    position: absolute;
    top: 0;
    /* overflow-x: hidden; */
    /* padding-top: 20px; */
    /* z-index: -1;
    background-color: #fdf0d5;
} */

.top {
    top: 0;
    left: 0;
    right: 0;
    height: 90%;
    background-color: #003049; 
    z-index: -1;
    position: absolute;
}

.bottom {
    left: 0;
    right: 0;
    height: 190%;
    background-color: #fdf0d5; 
    position: absolute;
    z-index: -2;
}

img {
    position: absolute;
    right: 225px;
    top: 120px;
    border-radius: 8px;
}

h1 {
    color: white; 
    position: absolute;
    top: 15rem;
    left: 1%;
    /* text-shadow: 0px 2px 5px; */
}

p {
    position: absolute;
    top: 130%;
}

footer {
    position: absolute;
    bottom: 0;

    width: 100%;
    height: 2.5rem;
}

nav {
    /* background-color: #dbe4ee; */
    position: absolute;
    /* height: fit-content; */
    top: 0.5rem;
    right: 5%;
    /* transition: top 0.3s; */
}

nav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 25px;
    word-spacing: 3px;
}

nav a:hover {
    background-color: #ddd;
    transition: background-color 0.6s ease;
    color: black;
}